@font-face{
	font-family:main;
	src:url("assets/fonts/Aadhunik.ttf");
}

body{
	font-family:main, arial, sans-serif;
}

#logo_name{
	font-weight:bold; 
	font-size:1.7em;
	text-decoration:none;
	color:gray;
}

.jumbotron{
	padding-top:5px;
}

a{
	color:blue;
}

/*nav small*/

/*main*/
.ul-sm {
    position: fixed;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: #55b55d;
    width: 100%;
    z-index: 20;
    display: none;
}

@media(max-width: 766px){
  .ul-sm{
    display: block;
  }
}

.nav-sm {
    float: left;
}

.nav-sm a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3em;
}

.nav-sm a span{
  color: black;
}

.nav-sm a:hover {
    background-color: #111;
}

/*Title*/
@media(max-width: 766px){
  .big_t{
    display: none;
  }
}
@media(min-width: 766px){
  .small_t{
    display: none;
  }
}

/*carousel responsive*/
.slide1{
  background-image: url('assets/img/carousel1.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: url('assets/img/carousel2.png');
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url('assets/img/carousel3.png');
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide4{
  background-image: url('assets/img/carousel4.png');
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide5{
  background-image: url('assets/img/carousel5.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide6{
  background-image: url('assets/img/carousel6.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide7{
  background-image: url('assets/img/carousel7.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}.slide8{
  background-image: url('assets/img/carousel8.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}.slide9{
  background: -webkit-linear-gradient(bottom right, #ff8888, #a60000);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}.slide10{
  background: -webkit-linear-gradient(top left , #ffff8c, #a4a400);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*Headers responsive*/
  .carousel-caption h1{
    font-size: 5.4em;
    padding-bottom: .4em;
    text-shadow:5px 5px #606060;
  }

@media(max-width: 934px){
  .carousel-caption h1{
    font-size: 3.4em;
    padding-bottom: .4em;
    text-shadow:4px 4px #606060;
  }
}

@media(max-width: 494px){
  .carousel-caption h1{
    font-size: 2.4em;
    padding-bottom: 1.25em;
    text-shadow:3px 3px #606060;
  }
}

/*innertext responsive*/

.carousel-caption p{
  font-size: 2em;
}

@media(max-width: 934px){
  .carousel-caption p{
    font-size: 1.75em;
  }
}

@media(max-width: 494px){
  .carousel-caption p{
    font-size: 1.25em;
  }
}

.carousel-caption > p{
 color:#ed041b;
}